{% extends "navbar.html" %}
{% block content %}
<style>
    body { background: url(../static/img/background.jpg) }
    .image {
            font-family : 'Pixel';
            position	: relative;
            width		: {{ 100 // sep - 1}}%;
        }

    .title {
            position	: absolute;
            top		    : 45%;
            left		: 0%;
            width		: 100%;
            font-size   : {{ 450 // sep }}%;
        }

    .date {
            position	: absolute;
            top		    : 20%;
            left		: 65%;
            font-size   : {{ 200 // sep }}%;
        }
    a {
        text-decoration: none;
        color: #3016B0;
    }
</style>

<br />
{% for i in range(len) %}
    {% if i % sep == 0 %}
    <p>
    {% endif %}
    <div class="image" style="display: inline-block">
        <a href="/note/{{ notes[i].id }}">
            <img src="../static/img/note_title.svg" />
            <center>
                <span class="title">
                    {{ notes[i].title }}
                </span>
            </center>
            <span class="date">{{ notes[i].date }}</span>
        </a>
    </div>
{% endfor %}

{% endblock %}