{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top" style="font-family: 'Pixel'; height: 8vh; width: 10vw;">
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.plus(class="btn btn-dark", value="A", style="color: green; font-size: 2vw; position: absolute; left: 0vw; top: 0vh; width: 5vw; height: 8vh; line-height: 0vw;") }}
        {{ form.sort(class="btn btn-dark", value="S", style="position: absolute; left: 5vw; top: 0vh; width: 5vw; height: 8vh; color: rgb(255, 204, 0); font-size: 2vw; line-height: 0vw;") }}
    </form>
</nav>

{% endblock %}

{% block content %}
<style>
    body { background: url(../static/img/background.jpg) }
    .image {
            font-family : 'Pixel';
            position	: relative;
            width		: {{ 100 // sep - 1}}vw;
        }

    .title {
            position	: absolute;
            top		    : 45%;
            left		: 0%;
            width		: 100%;
            font-size   : {{ 5 / sep }}vw;
        }

    .date {
            position	: absolute;
            top		    : 22%;
            left		: 60%;
            font-size   : {{ 3 / sep }}vw;
        }

    a {
        text-decoration: none;
        color: #3016B0;
    }

</style>

{% for i in range(len) %}
    {% if i % sep == 0 %}
    <p>
    {% endif %}
    <div class="image" style="display: inline-block">
        <a href="/note/{{ notes[i].id }}">
            <img src="../static/img/note_title.svg" />
            <center>
                <span class="title">
                    {{ notes[i].title }}
                </span>
            </center>
            <span class="date">{{ notes[i].date }}</span>
        </a>
        <input type="image" src="../static/img/trash.png" style="position: absolute; left: 18%; bottom: 15%; width: 3vw" onclick="if (window.confirm('Do you really want to delete this cute note?')) { window.location.replace('/delete/{{ notes[i].id }}'); }">
    </div>
{% endfor %}

{% endblock %}