{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top" style="font-family: 'Pixel'; height: 8vh; width: 9vw;">
    <a class="navbar-brand" href="" style="text-decoration: none; color: green; font-size: 3vw">+</a>
    <a class="navbar-brand" href="" style="text-decoration: none; color: red; font-size: 3vw">-</a>
</nav>
{% endblock %}

{% block content %}
<style>
    body { background: url(../static/img/background.jpg) }
    .image {
            font-family : 'Pixel';
            position	: relative;
            width		: {{ 100 // sep - 1}}vw;
        }

    .title {
            position	: absolute;
            top		    : 45%;
            left		: 0%;
            width		: 100%;
            font-size   : {{ 5 / sep }}vw;
        }

    .date {
            position	: absolute;
            top		    : 22%;
            left		: 60%;
            font-size   : {{ 3 / sep }}vw;
        }
    a {
        text-decoration: none;
        color: #3016B0;
    }
</style>

<br />
{% for i in range(len) %}
    {% if i % sep == 0 %}
    <p>
    {% endif %}
    <div class="image" style="display: inline-block">
        <a href="/note/{{ notes[i].id }}">
            <img src="../static/img/note_title.svg" />
            <center>
                <span class="title">
                    {{ notes[i].title }}
                </span>
            </center>
            <span class="date">{{ notes[i].date }}</span>
        </a>
    </div>
{% endfor %}

{% endblock %}