{% extends "init_base.html"%}
{% block form %}
<p>
    <div class="input-group mb-3" style="font-family: 'Pixel'; font-size: 200%; width: 34vw">
        <div class="input-group-prepend">
            <span class="input-group-text" id="log" style="color: rgb(240, 240, 240); background-color: rgb(10, 10, 10)">32</span>
        </div>
        {{ form.login(maxlength="32", placeholder="login", class="form-control") }}<br>
    </div>
</p>
<p>
    <div class="input-group mb-3" style="font-family: 'Pixel'; font-size: 200%; width: 34vw">
        <div class="input-group-prepend">
            <span class="input-group-text" id="pas" style="color: rgb(240, 240, 240); background-color: rgb(10, 10, 10)">96</span>
        </div>
        {{ form.password(maxlength="96", placeholder="password", class="form-control") }}<br>
    </div>
</p>
<p>
    {{ form.submit(style="font-family: 'Pixel'; font-size: 2vw; width: 22vw", class="btn btn-dark") }}
    <a class="btn btn-secondary" href={{form.link[0]}} style="font-family: 'Pixel'; font-size: 2vw; width: 12vw;">{{ form.link[1] }}</a>
</p>
{% endblock %}