<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <title>Diary init</title>
    <style>
        @font-face {
            font-family: 'Pixel';
            src: url('../static/fonts/Pixel.ttf')  format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            background-color: rgb(240, 240, 240)
        }

        h1 {
           font-family: 'Pixel';
           font-size: 2vw;
           width: 50vw;
        }
        form {
            position:fixed;
            top: 32vh;
            width: 100vw;
        }
    </style>
</head>
<body>
    <center>
        <form method="post" novalidate>
            <h1>{{form.title}}</h1><br>
            {{ form.hidden_tag() }}
            {% block form %}{% endblock %}
        </form>
    </center>
    {% for error in form.login.errors %}
        <div class="alert alert-warning" role="alert" style="font-family: 'Pixel', 'Consolas', 'Calibri'; position:fixed; top: 5vh; left: 82vw; font-size: 1vw; width: 20vw;">
            Login is required
        </div>
    {% endfor %}
    {% for error in form.password.errors %}
        <div class="alert alert-warning" role="alert" style="font-family: 'Pixel', 'Consolas', 'Calibri'; position: fixed; top: 15vh; left: 82vw; font-size: 1vw; width: 20vw;">
            Password is required
        </div>
    {% endfor %}
</body>
</html>